<%= form_with model: @setting, class: "p-4" do |form| %>

    <div class="form-group mb-4">
        <%= form.label :jumbo_title_text %>
        <%= form.text_field :jumbo_title_text, placeholder: "jumbo_title_text", class: "form-control mb-2"  %>
    </div>

    <div class="form-group mb-4">
        <%= form.label :jumbo_description_text %>
        <%= form.text_field :jumbo_description_text, placeholder: "jumbo_description_text", class: "form-control mb-2"  %>
    </div>
    
    <%= form.submit "Update", class: "btn btn-primary" %>
<% end %>