<%= form_with model: @setting, class: "p-4" do |form| %>

    <div class="form-group mb-4">
        <%= form.label :space_title_1 %>
        <%= form.text_field :space_title_1, placeholder: "space_title_1", class: "form-control mb-2"  %>
    </div>

    <div class="form-group mb-4">
        <%= form.label :space_title_2 %>
        <%= form.text_field :space_title_2, placeholder: "space_title_2", class: "form-control mb-2"  %>
    </div>

    <div class="form-group mb-4">
        <%= form.label :space_title_3 %>
        <%= form.text_field :space_title_3, placeholder: "space_title_3", class: "form-control mb-2"  %>
    </div>

    <div class="form-group mb-4">
        <%= form.label :space_description_1 %>
        <%= form.text_area :space_description_1, placeholder: "space_description_1", class: "form-control mb-2"  %>
    </div>

    <div class="form-group mb-4">
        <%= form.label :space_description_2 %>
        <%= form.text_area :space_description_2, placeholder: "space_description_2", class: "form-control mb-2"  %>
    </div>

    <div class="form-group mb-4">
        <%= form.label :space_description_3 %>
        <%= form.text_area :space_description_3, placeholder: "space_description_3", class: "form-control mb-2"  %>
    </div>

    <div class="form-group mb-4">
        <%= form.label :button_text %>
        <%= form.text_field :button_text, placeholder: "button_text", class: "form-control mb-2"  %>
    </div>

    <%= form.submit "Update", class: "btn btn-primary" %>
<% end %>