<%= form_with model: @setting, class: "p-4" do |form| %>
    <h2>Theme</h2>

    <div class="form-group mb-4">
        <%= form.label :bg_color %>
        <%= form.color_field :bg_color, value: @setting.bg_color, class: "form-control mb-2"  %>
        <%= @setting.bg_color %>
    </div>

    <div class="form-group mb-4">
        <%= form.label :jumbo_bg_color %>
        <%= form.color_field :jumbo_bg_color, value: @setting.jumbo_bg_color, class: "form-control mb-2"  %>
        <%= @setting.jumbo_bg_color %>
    </div>

    <div class="form-group mb-4">
        <%= form.label :button_bg_color %>
        <%= form.color_field :button_bg_color, value: @setting.button_bg_color, class: "form-control mb-2"  %>
        <%= @setting.button_bg_color %>
    </div>

    <div class="form-group mb-4">
        <%= form.label :button_text_color %>
        <%= form.color_field :button_text_color, value: @setting.button_text_color, class: "form-control mb-2"  %>
        <%= @setting.button_text_color %>
    </div>

    <div class="form-group mb-4">
        <%= form.label :link_color %>
        <%= form.color_field :link_color, value: @setting.link_color, class: "form-control mb-2"  %>
        <%= @setting.link_color %>
    </div>

    <%= form.submit "SUBMIT", class: "btn btn-primary" %>
<% end %>