<div class="container-fluid">
    <div class="row">
        <div id="jumbotron" class="col-sm-12 mb-3 p-5">
            <h1 class="mb-2"><%= current_user.setting.jumbo_title_text %>
            </h1>
            <h2><%= current_user.setting.jumbo_description_text %>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                <%= @setting.space_title_1 %> 
                </h5>
                <p>
                <%= @setting.space_description_1 %>
                </p>
                <%= link_to @setting.button_text, auth_encode_token_path(space: @setting.space_name_1), target: "_blank", class: "btn btn-custom"%> 
            </div>
        </div>
        </div>
    
        <div class="col-sm-4 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                    <%= @setting.space_title_2 %> 
                    </h5>
                    <p>
                    <%= @setting.space_description_2 %>
                    </p>
                    <%= link_to @setting.button_text, auth_encode_token_path(space: @setting.space_name_2), target: "_blank", class: "btn btn-custom"%> 
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <%= @setting.space_title_3 %> 
                </h5>
                <p>
                <%= @setting.space_description_3 %>
                </p>
                <%= link_to @setting.button_text, auth_encode_token_path(space: @setting.space_name_3), target: "_blank", class: "btn btn-custom"%> 
            </div>
        </div>
    </div>
    </div>
</div>



